<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tech.thrithvam.tiquesinnowner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <activity
            android:name="com.tech.thrithvam.tiquesinnowner.SplashScreen"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.tech.thrithvam.tiquesinnowner.ChatList"
            android:label="TiquesInn Chat"/>
        <activity android:name="com.tech.thrithvam.tiquesinnowner.Login" />
        <activity android:name="com.tech.thrithvam.tiquesinnowner.Chat" />

        <service
            android:name="com.tech.thrithvam.tiquesinnowner.Services"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.tech.thrithvam.tiquesinnowner.DashBoard" />
        <activity android:name="com.tech.thrithvam.tiquesinnowner.Charts"></activity>
    </application>

</manifest>